@model alongiYardscapes.Models.GalleryImages

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
<div class="image-viewer">
    @{bool first = true; }
    @foreach (var img in Model.Images)
    {
        @if (first)
        {
            @if (img.BeforeAndAfter)
            {
                <div>
                    <img class="full-image selected" data-imgNum="@img.Id" src="@img.Image" />
                    <img class="full-image selected" data-imgNum="@img.Id" src="@img.ImageAfter" />
                </div>
            }
            else
            {
                <div>
                    <img class="full-image selected" data-imgNum="@img.Id" src="@img.Image" />
                </div>
            }
        }
        else
        {
            @if (img.BeforeAndAfter)
            {
                <div>
                    <img class="full-image selected" data-imgNum="@img.Id" src="@img.Image" />
                    <img class="full-image selected" data-imgNum="@img.Id" src="@img.ImageAfter" />
                </div>
            }
            else
            {
                <div>
                    <img class="full-image selected" data-imgNum="@img.Id" src="@img.Image" />
                </div>
            }
        }
        first = false;
    }
</div>

<div class="slider">
    @{first = true; }
    @foreach (var img in Model.Images)
    {
        @if (first)
        {
            <div>
                <img class="slider-image selected" data-imgNum="@img.Id" src="@img.Thumb" />
            </div>
        }
        else
        {
            <div>
                <img class="slider-image" data-imgNum="@img.Id" src="@img.Thumb" />
            </div>
        }
        first = false;
    }
</div>




@section Scripts{
    <script type="text/javascript">
        $(function () {
            AY.Gallery.Init();
        });
    </script>
}
