@model alongiYardscapes.Models.GalleryImages

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
<div class="image-viewer">
    @{int i = 1; }
    @foreach (var img in Model.Images)
    {
        @if (i == 1)
        {
            <div>
                <img class="full-image selected" data-imgNum="@i" src="@img.Image" />
            </div>
        }
        else
        {
            <div>
                <img class="full-image" data-imgNum="@i" src="@img.Image" />
            </div>
        }
        i++;
    }
</div>

<div class="slider">
    @{ i = 1; }
    @foreach (var img in Model.Images)
    {
        <div>
            <img class="slider-image" data-imgNum="@i" src="@img.Thumb" />
        </div>
        i++;
    }
</div>




@section Scripts{
    <script type="text/javascript">
        $(function () {
            AY.Gallery.Init();
        });
    </script>
}
