@model alongiYardscapes.Models.GalleryImages

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
<div class="image-viewer">
    @{bool first = true; }
    @foreach (var img in Model.Images)
    {
        @if (img.BeforeAndAfter)
        {
            <div class="image-wrapper @(first ? "selected" : "") @(img.Portrait ? "portrait" : "landscape")" data-imgNum="@img.Id">
                <div class="beforeAndAfter">
                    <img class="full-image" src="@img.Image" />
                    <img class="full-image" src="@img.ImageAfter" />
                </div>
            </div>
        }
        else
        {
            <div class="image-wrapper @(first ? "selected" : "") @(img.Portrait ? "portrait" : "landscape")" data-imgNum="@img.Id">
                <img class="full-image" src="@img.Image" />
            </div>
        }

        first = false;
    }
</div>

<div class="slider">
    @{first = true; }
    @foreach (var img in Model.Images)
    {
        <div>
            <img class="slider-image @(first ? "selected" : "")" data-imgNum="@img.Id" src="@img.Thumb" />
        </div>
        first = false;
    }
</div>




@section Scripts{
    <script type="text/javascript">
        $(function () {
            AY.Gallery.Init();
        });
    </script>
}
